@font-face {
  font-family: "Supernova";
  src: url("../fonts/Supernova.ttf");
}
@keyframes blink {
  50% {
    background-color: white;
  }
}
@-webkit-keyframes blink {
  50% {
    background-color: white;
  }
}
* {
  box-sizing: border-box;
  transition-duration: 200ms;
}

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

body {
  background-image: url(../../images/sf-bg.jpg);
}
body img {
  margin: 3px;
}
body .page {
  display: none;
}
body #loading {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.796);
  background-repeat: no-repeat;
  background-position: center;
}
body .loading-sakura {
  width: 110px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
}
body .loading-phrase {
  width: 310px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 40%;
}
body .sagat {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
body .sagat img {
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-width: 3px;
  border-style: solid;
  margin-bottom: -40px;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border-color: rgba(255, 193, 0, 0.5);
}
body .ryu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
body .ryu img {
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-width: 3px;
  border-style: solid;
  margin-bottom: -40px;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border-color: rgba(255, 0, 0, 0.507);
}
body .chun {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
body .chun img {
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-width: 3px;
  border-style: solid;
  margin-bottom: -40px;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border-color: rgb(49, 56, 255);
}
body .dan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
body .dan img {
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-width: 3px;
  border-style: solid;
  margin-bottom: -40px;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border-color: rgba(255, 117, 137, 0.5019607843);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container img {
  max-width: 256px;
  max-height: 128px;
}

.images-wrapper img {
  min-height: 50px;
  max-width: 85px;
  max-height: 50px;
}

.stage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stage-wrapper img {
  max-width: 100%;
}

.akuma-avatar {
  position: absolute;
  bottom: 10px;
  right: 35px;
}

.p1-avatar {
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.flashing-animation {
  animation: blink 75ms ease-in-out infinite;
  animation-iteration-count: 5;
}

.input-label {
  display: flex;
  align-items: center;
  justify-content: end;
  color: orange;
  translate: 0 -18px;
  margin-right: 15px;
  font-family: "Supernova", sans-serif;
}

button {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
  border: 0.01px;
}

.doc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 100%;
  color: red;
}

.doc p {
  padding-left: 1vw;
  padding-right: 1vw;
}

.instructions {
  background: rgba(138, 105, 21, 0.1647058824);
  min-width: 100%;
}

@media only screen and (min-width: 768px) {
  .doc {
    padding-left: 545px;
    padding-right: 545px;
  }
}

/*# sourceMappingURL=styles.css.map */
