<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oneButt</title>

  <style type="text/css">
    body {
      background: radial-gradient(circle, #322538, #1f1f1f);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }


    button {
      background: none;
    }
  </style>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  <script defer src="/scripts/audio.js"></script>
  <script defer src="../constants/constants.js"></script>

</head>
<body>
  <img src="/images/One-Button-2-11-2024 (1).png" alt="Tiger shot" id="logo">
    <img src="/images/sagat.gif" alt="Tiger shot">
</body>
</html>