<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oneButt</title>

  <style type="text/css">
    body {
      background: radial-gradient(circle, #322538, #1f1f1f);
      display: flex;
    }
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }


    button {
      background: none;
      /* border: none; */
    }
  </style>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  <script defer src="/scripts/audio.js"></script>
  <script defer src="/scripts/gifs.js"></script>
  <script defer src="../constants/audio-constants.js"></script>
  <script defer src="../constants/img-constants.js"></script>

  <script>

  </script>
</head>
<body>
  <div class="container">
    <img src="/images/One-Button-2-11-2024 (1).png" alt="Tiger shot" id="logo">
    <div class="sagat">
        <!-- Tiger shot -->
        <img id="tiger-shot" src="/images/sagat.gif" alt="Tiger shot">

      
      <!-- Tiger Uppercut -->
      <img src="/images/sagat-dp.gif" alt="Tiger Uppercut">
      
      <!-- Tiger Knee -->
      <img src="/images/tigerKnee.gif" alt="Tiger Knee">
      
      <!-- Taunt -->
      <img src="/images/sagat-taunt.gif" alt="Sagat Taunt">
  </div>
  <div class="ryu">
    <!-- Hadoken -->
    <img src="/images/ryu/Ryuhadoken-1.gif" alt="Hadoken">
    
    <!-- Shoryuken -->
    <img src="/images/ryu/ryu-shoryuken.gif" alt="Shoryuken">
    
    <!-- Tasumaki -->
    <img src="/images/ryu/tatsu.gif" alt="Tatsumaki">
    
    <!-- Taunt -->
    <img src="/images/ryu/Ryugif-1.gif" alt="Ryu Taunt">
</div>
<div class="chun">
  <!-- Kikoken -->
  <img src="/images/chun/chun-kiko.gif" alt="Kikoken">
  
  <!-- OH -->
  <img src="/images/chun/chun-oh.gif" alt="Hizonshu">
  
  <!-- Kick -->
  <img src="/images/chun/chun-kick.gif" alt="Rapid-kick">
  
  <!-- Taunt -->
  <img src="/images/chun/chun-taunt.gif" alt="Chun Taunt">
</div>
<div class="dan">
  <!-- Yahoo -->
  <img src="/images/dan/dan-yahoo.gif" alt="Yahoo">
  
  <!-- Dan Super -->
  <img src="/images/dan/dan-super.gif" alt="Dan Super">
  
  <!-- Victory is mine!! -->
  <img src="/images/dan/mvc2-dan3.gif" alt="Victory is mine!">
  
  <!-- Father -->
  <img src="/images/dan/dan-cry.gif" alt="I did it father!">
  </div>
</div>
</body>
</html>

