<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oneButt</title>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/audio.js"></script>

</head>
<body>
  
  <img src="/images/One-Button-2-11-2024 (1).png" alt="Tiger shot">
  <button id="oneButt" onclick="audio.play();" onkeydown="audio.play()"">
    <img src="/images/sagat.gif" alt="Tiger shot">
  </button>
</body>
</html>