@font-face {
  font-family: 'Supernova';
  src: url('../fonts/Supernova.ttf');
}

@keyframes blink {
  50% {
    background-color:white;
  }
}
@-webkit-keyframes blink {
  50% {
    background-color:white;
  }
}

$img-styles: (
  border-top-right-radius: 30%,
  border-bottom-left-radius: 30%,
  border-width: 2px,
  border-style: solid,
  margin-bottom: -40px,
  background-color: rgba(37, 11, 0, 0.862),
  position: relative,
);

@mixin apply-styles($styles) {
  @each $property, $value in $styles {
    #{$property}: $value;
  }
};
body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

body {
  background-image: url(../../images/sf-bg.jpg);
  
  img {
    margin: 3px;
  }

  
  .sagat {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 11, 0, 0.862);
  
  img {
    @include apply-styles($img-styles);
    border-color: rgba(255, 193, 0, 0.5);
  }
  }
  .ryu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 11, 0, 0.862);
  
  img {
    @include apply-styles($img-styles);
    border-color: rgba(255, 0, 0, 0.507);
    }
  }
  .chun {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 11, 0, 0.862);

  
  img {
    @include apply-styles($img-styles);
    border-color: rgba(0, 132, 255, 0.507);
    }
  }
  
  .dan {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 11, 0, 0.862);
  padding-left: 56px;
  padding-right: 56px;
  img {
    @include apply-styles($img-styles);
    border-color: rgba(255, 117, 137, 0.5019607843);
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.title-container img {
  max-width: 256px;
  max-height: 128px;
}

.images-wrapper img {
  max-width: 90px;
  max-height: 50px;
}

.stage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    max-width: 1024px;
  }
}

.akuma-avatar {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.p1-avatar {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.flashing-animation {
  animation: blink 75ms ease-in-out infinite;
  animation-iteration-count: 5;
}

.input-label {
display: flex;
align-items: center;
justify-content: end;
color: orange;
translate: 0 -18px;
margin-right: 15px;
font-family: 'Supernova', sans-serif;
                                                
}

button {
  color: transparent;
  background-color: transparent;
  padding: 1px;
}
